<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application android:usesCleartextTraffic="true" tools:targetApi="28" tools:ignore="GoogleAppIndexingWarning" tools:replace="android:usesCleartextTraffic" >
    <meta-data
        android:name="com.googleusercontent.apps.425712924695-08af004am9lcbfklsq4v3vi4es0mv4fk"
        android:value="425712924695-08af004am9lcbfklsq4v3vi4es0mv4fk.apps.googleusercontent.com"/>
    </application>
</manifest>

